<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages enableViewState="true" />
    <sessionState mode="InProc"/>
    <machineKey validation="HMACSHA256" decryption="AES" validationKey="C9383D468518659F57A6A1D702F52FC567DC7E07C16D21EE0209582F65E9B5F1" decryptionKey="243440F5D5354E50D325EA6B0E94EB111D9FD8F3BB054B2657DD143C54DBB04B" />
  </system.web>
</configuration>